/*主题样式*/
body{
    background-color: #efefef;
}
/*主文本框样式*/
.main{
    background-color: white;
    margin: 30px;

}
/*发布按钮样式*/
.btn-publish{
    float: right;
    margin-bottom: 15px;
}

/*问题列表头像 */
.media-object{
    width: 38px;
    height: 38px;
}

/*标签戳文本风格*/
.text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}

/*列表组风格*/
.profile .section{
    margin-top: 15px;
}
/*编辑按钮样式*/
.community_menu {
    color: #999;
    font-size: 12px;
}

/*头像样式*/
.head_img {
    height:64px;
    width: 64px;
}
/*回复名称样式*/
.name {
    padding-top: 10px;
}

.jumbotron{
    margin: 50px;
}
/*回复框样式*/
.comment{
    margin: 10px 0;
}